name: Backend

on:
  pull_request:
    branches: ["develop", "main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.11]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./as/backend/requirements.txt
      - name: Lint with Pep8
        run: |
          pycodestyle --max-line-length=120 ./as/backend/
      - name: Lint with Flake8
        run: |
          flake8 --max-line-length=120 ./as/backend/
